    html {
      font-family: 'helvetica neue', helvetica, arial, sans-serif;
    }
    body{
		padding-top: 4px;
	}

  #elem {
    padding-top: 32px;
    padding-bottom: 12px;
    text-align: center;
    color:blueviolet;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
#container{
    padding-top: 56px;
    padding-right: 1px;
    padding-bottom: 20px;
    padding-left: 5px;
}
#panel-1x{
    padding-top: 20px; 
}